body {
    font-size: 100%;
    background: gray;
}

.MenuContainer {
    font-size: 4em;
}

.Burger, .DropDown {
    font-size: 1em;
}

.VocabList {
    padding: 20px;
}

.Vocab {
    &__LessonNumber {
        margin: 10px 0 0 0;
        font-size: 4em;
    }

    &__Row {
        display: flex;
        font-size: 4em;
        line-height: 2em;
        text-align: left;
    }
}

.VocabCol {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}